.contactContainer {
    font-family: 'Montserrat', sans-serif;
}

.contactContainer .backgroundContainer {
    background-image: url('../assets/images/img7.jpg');
}

.contactContainer .contactWrapper {
    display: flex;
}

.contactContainer .contactWrapper .contactLeft {
    width: 50%;
}

.contactWrapper .contactLeft h2 {
    font-size: 4vw;
    font-weight: 500;
}

.contactLeft .contactMailMe {
    display: flex;
    margin: 1.5vw auto;
    align-items: center;
}

.contactLeft .contactMailMe span {
    padding: 0.7vw;
    font-size: 1.2vw;
    border-radius: 4px;
    margin-right: 0.5vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease-in-out;
}

.contactLeft .contactMailMe a {
    color: pink;
    font-size: 1.1vw;
}

.contactWrapper .contactRight {
    width: 50%;
}

.contactContainer .contactRight h4 {
    font-size: 1.5vw;
    font-weight: 300;
}

.contactContainer .contactRight h5 {
    font-size: 1vw;
    font-weight: 500;
}

.contactWrapper .contactRight input,
.contactWrapper .contactRight textarea {
    width: 80%;
    padding: 1vw;
    margin: 1vw 0;
    outline: none;
    color: white;
    font-size: 0.8vw;
    display: block;
    font-weight: 300;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.contactWrapper .contactRight .input:focus {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: background 0.3s ease-in-out;
}

.contactWrapper .contactRight input::placeholder {
    color: white;
}

.contactWrapper .contactRight button {
    padding: 1vw;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    background-color: pink;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease-in-out;
    animation: enterFromLeft 0.3s ease-out; 
}

.contactWrapper .contactRight button:hover {
    color: white;
    background-color: black;
    transform: translateX(5px);
}

@keyframes enterFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
