.contactContainer {
    font-family: 'Montserrat', sans-serif;
}

.contactContainer .backgroundContainer {
    background-image: url('../assets/images/img7.jpg');
}

.contactContainer .contactWrapper {
    display: flex;
}

.contactWrapper .contactLeft {
    width: 50%;
}

.contactWrapper .contactLeft h2 {
    font-size: 4vw;
    font-weight: 500;
}

.contactLeft .contactMailMe {
    display: flex;
    margin: 1.5vw auto;
    align-items: center;
}

.contactLeft .contactMailMe span {
    padding: 0.7vw;
    font-size: 1.2vw;
    border-radius: 4px;
    margin-right: 0.5vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease-in-out;
}

.contactLeft .contactMailMe a {
    color: pink;
    font-size: 1.1vw;
}

.contactWrapper .contactRight {
    width: 50%;
}

.contactContainer .contactRight h4 {
    font-size: 1.5vw;
    font-weight: 300;
}

.contactContainer .contactRight h5 {
    font-size: 1vw;
    font-weight: 500;
}

.contactWrapper .contactRight input,
.contactWrapper .contactRight textarea {
    width: 80%;
    padding: 1vw;
    margin: 1vw 0;
    outline: none;
    color: white;
    font-size: 0.8vw;
    display: block;
    font-weight: 300;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.contactWrapper .contactRight input::placeholder {
    color: white;
}

.contactWrapper .contactRight button {
    padding: 1vw;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    background-color: pink;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease-in-out;
    animation: enterFromLeft 0.3s ease-out;
}

.contactWrapper .contactRight button:hover {
    color: white;
    background-color: black;
    transform: translateX(5px);
}

@keyframes enterFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1024px) {
    .contactContainer .contentContainer {
        min-height: 70vh;
        display: flex;
        align-items: center;
    }
    .contactLeft .contactMailMe span {
        margin-right: 1.5vw;
        font-size: 2vw;
    }
    .contactWrapper .contactRight input,
    .contactWrapper .contactRight textarea {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 768px) {
    .contactContainer .contactWrapper {
        display: block;
    }
    .contactWrapper .contactLeft,
    .contactWrapper .contactRight {
        width: 100%;
    }
    .contactWrapper .contactLeft h2 {
        font-size: 5vw;
    }

    .contactLeft .contactMailMe {
        margin: 3.5vw auto;
    }

    .contactLeft .contactMailMe span {
        padding: 1.5vw;
        font-size: 3vw;
        margin-right: 2vw;
    }

    .contactLeft .contactMailMe a {
        font-size: 2.5vw;
    }

    .contactContainer .contactRight h4 {
        font-size: 3.5vw;
        font-weight: 300;
    }

    .contactContainer .contactRight h5 {
        font-size: 2.5vw;
        font-weight: 500;
    }

    .contactWrapper .contactRight input,
    .contactWrapper .contactRight textarea {
        width: 80%;
        font-size: 2vw;
        margin: 2vw 0;
        padding: 2vw 3vw;
    }

    .contactWrapper .contactRight button {
        padding: 2vw 3vw;
    }
}

@media only screen and (max-width: 576px) {
    .contactWrapper .contactLeft h2 {
        font-size: 8vw;
    }

    .contactLeft .contactMailMe {
        margin: 5vw auto;
    }

    .contactLeft .contactMailMe span {
        padding: 2vw;
        font-size: 4vw;
    }

    .contactLeft .contactMailMe a {
        font-size: 3vw;
    }

    .contactContainer .contactRight h4 {
        font-size: 5vw;
    }

    .contactContainer .contactRight h5 {
        font-size: 3vw;
    }

    .contactWrapper .contactRight input,
    .contactWrapper .contactRight textarea {
        width: 90%;
        font-size: 3vw;
    }
}