footer {
    position: relative;
    font-family: 'Lato', sans-serif
}

footer .footerContainer {
    bottom: 0;
    width: 100%;
    margin: 2vw;
    text-align: center;
    position: absolute;
}

footer .footerContainer p {
    font-size: 0.9vw;
    font-weight: 300;
    user-select: none;
}

@media only screen and (max-width: 1024px) {
    footer .footerContainer p {
        font-size: 1.3vw;
    }
}

@media only screen and (max-width: 768px) {
    footer .footerContainer p {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width: 576px) {
    footer .footerContainer p {
        font-size: 3vw;
    }
}