header {
    width: 100%;
    margin: auto;
    z-index: 999;
    position: fixed;
}

header .headerContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.5vw 2vw;
}

header .headerMainHeading {
    font-weight: 400;
    font-size: 1.5vw;
    cursor: progress;
    user-select: none;
    font-style: italic;
    color: rgb(153, 153, 153);
    font-family: 'Playfair Display', sans-serif;
}

header .headerMainHeading:hover {
    color: white;
    cursor: progress;
}

header .headerNavigationContainer {
    display: flex;
    align-items: center;
}

header .headerNavigationContainer .menuToggleBtn {
    display: none;
}

/* header navigation list right */
header .headerNavigationList {
    display: flex;
    font-size: 400;
    list-style: none;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

header .headerNavigationListItem {
    color: gray;
    margin: 0.2vw;
    font-size: 0.7vw;
}

header .headerNavigationListItem::after {
    content: " /";
}

header .headerNavigationListItem:hover:after {
    color: gray;
}

header .headerNavigationListItem:last-child::after {
    content: "";
    color: gray;
}

header .headerNavigationListItem:hover {
    color: white;
}

/* header right navigation over */

/* header left side fixed */
header .navLeftFixed .verticalDividerLine {
    left: 4vw;
    width: 0.05vw;
    bottom: 3.5vw;
    height: 3.8vw;
    position: fixed;
    background-color: white;
    font-family: 'Playfair Display', sans-serif;
}

header .navLeftFixed .verticalFixed {
    left: 0;
    bottom: 11vw;
    position: fixed;
    font-weight: 400;
    font-size: 1vw;
    user-select: none;
    font-style: italic;
    transform: rotate(-90deg);
    font-family: 'Playfair Display', sans-serif;
}

/* header right fixed */
header .navRightFixed .toTopArrow {
    right: 0;
    bottom: 3.5vw;
    cursor: pointer;
    position: fixed;
    transform: rotate(-90deg);
}

header .navRightFixed .toTopArrow img {
    width: 3.5vw;
}

.hidden {
    display: none;
}

/* responsiveness code */
@media only screen and (max-width: 1024px) {
    header {
        width: 100%;
    }
    
    header .headerContainer {
        padding: 2.5rem 5rem;
    }
    
    header .headerMainHeading {
        font-size: 2.5vw;
    }
    
    header .headerNavigationListItem {
        margin: 0.1vw;
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
    }
    
    header .headerContainer {
        padding: 2rem;
    }

    header .headerMainHeading {
        font-size: 3vw;
    }
    
    header .headerNavigationListItem {
        margin: 0.1vw;
        font-size: 2vw;
    }
    
    header .navLeftFixed .verticalDividerLine {
        left: 2rem;
        bottom: 2rem;
        height: 50px;
    }
    
    header .navLeftFixed .verticalFixed {
        left: -1.5rem;
        bottom: 9rem;
        font-size: 1rem;
    }
    header .navRightFixed .toTopArrow img {
        width: 6vw;
    }
}

@media only screen and (max-width: 576px) {
    header {
        width: 100%;
    }
    
    header .headerContainer {
        padding: 7vw 5vw;
        align-items: center;
    }
    
    header .headerMainHeading {
        font-size: 7vw;
    }
    
    header .open {
        display: block;
        flex-direction: column;
        transition: display 0.3s ease-in-out;
    }
    
    header .close {
        display: none;
    }
    
    header .headerNavigationList {
        top: 20vw;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 10vw;
        color: white;
        font-size: 4vw;
        position: absolute;
        box-sizing: border-box;
        background-color: black;
    }

    header .headerNavigationListItem {
        font-size: 6vw;
        margin: 2vw auto;
    }

    header .headerNavigationListItem::after {
        content: "";
    }
    
    header .headerNavigationContainer .menuToggleBtn {
        display: block;
        font-size: 4vw;
    }
    
    header .navLeftFixed .verticalDividerLine {
        left: 3vw;
        bottom: 6vw;
        height: 10vw;
    }
    
    header .navLeftFixed .verticalFixed {
        left: -8vw;
        bottom: 25vw;
        font-size: 3vw;
    }

    header .navRightFixed .toTopArrow img {
        width: 6.5vw;
    }
}