/* google font imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;500&family=Open+Sans:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Roboto+Slab:wght@100;300;400&display=swap');

/* tailwind css imports */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* universal properties */
* {
	margin: 0;
	padding: 0;
}

/* scrollbar customisation */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: #222;
}

/* Style for selected text with translucent background */
::selection {
	color: #ffffff;
	background-color: rgba(74, 74, 74, 0.7);
}

::-moz-selection {
	color: #ffffff;
	background-color: rgba(74, 74, 74, 0.7);
}

/* Universal style for links */
a {
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0;
	color: white;
	overflow-x: hidden;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	background-color: rgb(5 8 22);
	font-family: 'Roboto Slab', serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

section {
	padding: 9vw 5vw;
	min-height: 100vh;
	position: relative;
	height: max-content;
	box-sizing: border-box;
}

.backgroundContainer {
	top: 0;
	left: 0;
	width: 100vw;
	z-index: -1;
	height: 100%;
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	background-clip: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(5 8 22);
}

.contentContainer {
	width: 70vw;
	margin: auto;
}

.App * {
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 576px) {
	section { 
		padding: 10vw 5vw;
	}
}

/* font families 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif; */

/* canvas
https://codepen.io/Thibka/pen/BRzgOM */

/* animate links
https://medium.com/hackernoon/5-ways-to-animate-a-reactjs-app-in-2019-56eb9af6e3bf
https://github.com/FormidableLabs/react-animations
*/

/* refrence portfolio
https://protfolio-woad.vercel.app/
*/

/* to do
Complete projects page
complete contact page, add backend to contact page
animate project
add a modern and elegant arrow on the right bottom corner to go to top
add menu open and close functionality
*/