.introContainer {
    font-family: 'Montserrat', sans-serif;
}

.introContainer .backgroundContainer {
    background-image: url('../assets/images/img9.jpg');
}

.introContainer .contnentContainer {
    width: 80%;
    margin: auto;
}

.introContainer h4 {
    font-size: 1.5vw;
    font-weight: 300;
}

.overviewContainer {
    width: 60%;
    margin-left: 0;
}

.overviewContainer h2 {
    font-size: 5vw;
    font-weight: 500;
}

.overviewContainer p {
    font-weight: 500;
    margin: 1vw 0;
}

.overviewSkillCardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
    .overviewContainer {
        width: 80%;
    }
    .introContainer h4 {
        font-size: 2.5vw;
    }
    .overviewContainer h2 { 
        font-size: 6vw;
    }
}

@media only screen and (max-width: 576px) {
    .overviewContainer {
        width: 100%;
    }
    .introContainer h4 {
        font-size: 4.5vw;
    }
    .overviewContainer h2 {
        font-size: 10vw;
        margin: 4vw 0;
    }
    .overviewContainer p {
        margin: 5vw 0;
    }
    .overviewSkillCardsContainer {
        overflow: visible;
    }
}