.landingContainer .backgroundContainer {
    background-image: url('../assets/images/img1.jpg');
}

.landingContainer .contentContainer{
    width: 75vw;
}

.contentContainer h1{
    font-weight: 400;
    font-size: 12vw;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}


@media only screen and (max-width: 1024px) {
    .contentContainer {
        min-height: 85vh;
    }

    .contentContainer h1{
        margin-top: 8vw;
        font-size: 15vw;
    }
}

@media only screen and (max-width: 768px) {
    .contentContainer h1{
        font-size: 15vw;
    }
}

@media only screen and (max-width: 576px) {
    .contentContainer h1{
        font-size: 18vw;
    }
}