.overviewSkillCard {
    padding: 20px;
    width: 20vw;
    margin: 0.4vw auto;
    text-align: center;
    border-radius: 10px; 
    backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overviewSkillCard:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.7);
}

.overviewSkillCard img {
    width: 100px;
    height: 100px;
    border-radius: 1vw;
    margin: 2vw auto;
}

@media only screen and (max-width: 1024px) {
    .overviewSkillCard {
        width: 40%;
        margin: 1vw auto;
    }

    .overviewSkillCard img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 576px) {
    .overviewSkillCard {
        width: 45%;
        margin: 2vw;
    }

    .overviewSkillCard img {
        width: 75px;
        height: 75px;
    }
}