.projectsContainer .backgroundContainer {
    background-image: url('../assets/images/img2.jpg');
}

.projectsContainer {
    font-family: 'Montserrat', sans-serif;
}

.projectsContainer h4 {
    font-size: 1.5vw;
    font-weight: 300;
}

.projectsContainer h2 {
    font-size: 5vw;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .projectsContainer h4 { 
        font-size: 2.5vw;
    }
    .projectsContainer h2 { 
        font-size: 6vw;
    }
}

@media only screen and (max-width: 576px) {
    .projectsContainer h4 {
        font-size: 4.5vw;
    }
    .projectsContainer h2 {
        font-size: 10vw;
        margin: 4vw 0;
    }
    .overviewContainer p {
        margin: 5vw 0;
    }
}